* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

html {
  height: 100%;
}

html body {
  height: 100%;
  background-color: bisque;
}

#top {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: inherit;
  padding-top: 7vmin;
}

#top #title #name-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top #title #name-title img {
  width: 100vmin;
  height: auto;
}

#top #contact {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5vmin;
  padding-bottom: 5vmin;
}

#top #contact #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
}

#top #contact #links div {
  width: 35vmin !important;
  height: 18vmin !important;
  padding: 1vmin;
  border: 0.3vmin solid black;
  margin: 1vmin;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#top #contact #links div:hover {
  -webkit-box-shadow: 0.9vmin 0.9vmin 0vmin black;
          box-shadow: 0.9vmin 0.9vmin 0vmin black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#top #contact #links #github {
  background-image: url("/images/devto.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top #contact #links #github a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  padding: 2vmin 4vmin 2vmin 4vmin;
  font-size: 3.5vmin;
  font-weight: bold;
  color: black;
}

#top #contact #links #github a img {
  margin-right: 1.5vmin;
  width: 5vmin;
  height: auto;
}

#top #contact #links #devto {
  background-image: url("/images/github.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top #contact #links #devto a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  padding: 2vmin 4vmin 2vmin 4vmin;
  font-size: 3.5vmin;
  font-weight: bold;
  color: black;
}

#top #contact #links #devto a img {
  margin-right: 1.5vmin;
  width: 5vmin;
  height: auto;
}

#top #contact #links #linkedin {
  background-image: url("/images/linkedin.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top #contact #links #linkedin a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  padding: 2vmin 4vmin 2vmin 4vmin;
  font-size: 3.5vmin;
  font-weight: bold;
  color: black;
}

#top #contact #links #linkedin a img {
  margin-right: 1.5vmin;
  width: 5vmin;
  height: auto;
}

#top #contact #links #email {
  background-image: url("/images/mail.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top #contact #links #email a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  padding: 2vmin 4vmin 2vmin 4vmin;
  font-size: 3.5vmin;
  font-weight: bold;
  color: black;
}

#top #contact #links #email a img {
  margin-right: 1.5vmin;
  width: 5vmin;
  height: auto;
}
/*# sourceMappingURL=style.css.map */